@import './colors.scss';

.btn-submit {
  width: 30% !important;
  border-radius: 1rem !important;
  padding: 1% !important;
  border: none !important;
  cursor: pointer !important;
  font-weight: 600 !important;
  color: #fff !important;
  background-color: $lemon-green !important;
}

#clock_details {
  height: 200px !important;
}

.col-form-label.pt-0{
  display: none;
}

.radio-group {
  display: flex;
}

.orange {
  color: $orange;
}

.radio-label {
  margin-right: 20px;
}